@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.html, pre {
    font-family: 'Playfair Display', serif;
}

.mainheading {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 46px;
}

a:link, a:visited{
    text-decoration: none;
    color: black;
}

.subheading {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-top: -30px;
    font-style: italic;
    font-size: 28px;
    font-weight: lighter;
}

#date {
    margin-top: -36px;
    font-style: italic;
    font-weight: lighter;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.content {
    margin:0 150px;
    text-align: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 500px;
}

#lyrics {
    text-align: center;
    font-size: 26px;
    word-wrap: break-word;
    white-space: pre-line;
}

.button {
    text-align: center;
}

button {
    text-align: center;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    margin-top: 50px;
    padding: 20px 26px;
    border-radius: 40px;
    border: 1px solid black;
    transition: all 0.3s cubic-bezier(.31,.48,.83,.51);
    background-color: black;
    color: white;
}

button:hover {
    background-color: white;
    cursor: pointer;
    color: black;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0;
    margin-left: -160px;
}

.image {
    flex: 0 0;
    margin-top: 80px;
}

.container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.warning {
    font-family: 'Playfair Display', serif;
    margin-top: -60px;
    font-size: 13px;
    color: rgba(0,0,0,0.2);
    transition: color 0.2 cubic-bezier(.31,.48,.83,.51);
}

.warning:hover {
    color: rgba(0,0,0,1);
}

#track {
    font-family: 'Playfair Display', serif;
    margin-top: -20px;
}

@media only screen and (max-width: 1000px) {
    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .text {
        margin: 0 auto;
        text-align: center;
    }
    .image {
        text-align: center;
    }
    .mainheading {
        font-size: 40px;
        text-align: center;
    }
    .subheading {
        font-size: 16px;
        margin-top: -20px;
    }
    #date {
        font-size: 10px;
        margin-top: -16px;
    }
    #lyrics {
        font-size: 20px;
    }
}


@media only screen and (max-width: 825px) {
    .container {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .body {
        width: 100vw;
        overflow-x: none;
    }
    .mainheading {
        font-size: 34px;
        text-align: center;
    }
    .subheading {
        font-size: 18px;
        margin-top: -20px;
    }
    #date {
        font-size: 10px;
        margin-top: -16px;
    }
    #lyrics {
        font-size: 20px;
    }
    .text {
        width: 100vw;
        margin: 0 auto;
        margin-left: -15px;
        text-align: center;
    }
}

